---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ExpCard from "../components/ExpCard.astro";
import EduCard from "../components/EduCard.astro";
import { supabase } from "../lib/supabase/client";
import { SquareArrowOutUpRight } from "@lucide/astro";
import { Icon } from "astro-icon/components";
import type {
  ExperienceType,
  EducationType,
  SocialMediaType,
  ProjectType,
} from "../constant/schema.types";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";

const { data: person, error: personError } = await supabase
  .from("person")
  .select("full_name, headline, bio, location")
  .eq("person_id", 1)
  .single();

if (personError) {
  console.error(personError.message);
}

const { data: experiences, error: expError } = await supabase
  .from("experience")
  .select("*")
  .eq("person_id", 1)
  .order("start_date", { ascending: false });

const { data: education, error: eduError } = await supabase
  .from("education")
  .select("*")
  .eq("person_id", 1)
  .order("start_date", { ascending: false });

const { data: socials, error: socError } = await supabase
  .from("social_media")
  .select("*")
  .eq("person_id", 1);
const { data: projects, error: proError } = await supabase
  .from("project")
  .select("*")
  .eq("person_id", 1);

const expList: ExperienceType[] = experiences ?? [];
const projList: ProjectType[] = projects ?? [];
const eduList: EducationType[] = education ?? [];
const socialList: SocialMediaType[] = socials ?? [];
---

<Layout title="Oxtcaw | Oktapian Candra Adi Wijaya">
  <header class="flex px-12 items-center justify-start">
    <div class="">
      <Image
        src="https://avatars.githubusercontent.com/u/48079010?s=400&u=371f0b788ebedfc5ae91f532330d8710d31ef6f0&v=4"
        alt=""
        width={80}
        height={80}
        class="w-16 h-16 md:w-18 md:h-18 rounded-xl border-gray-300/80 dark:border-gray-700/80 border-3 md:border-4 flex items-center space-x-2"
        loading="eager"
      />
    </div><div class="ml-4">
      <h2 class="font-medium text-black dark:text-white text-base md:text-lg">
        {person?.full_name || "Oktapian CAW"}
      </h2>
      <p
        class="text-gray-600 text-sm sm:text-base dark:text-gray-500"
        style="opacity: 1;"
      >
        {person?.headline || "Programmer"}
      </p>
    </div>
  </header>
  <main class="py-16 px-12 relative flex flex-1 flex-col space-y-16">
    <section class="">
      <h3
        class="mb-4 text-lg font-medium dark:text-gray-500 lg:text-md xl:mb-3"
      >
        About me
      </h3>
      <p class="text-gray-600 mb-6 dark:text-gray-400">
        {
          person?.bio ||
            `Enjoy learning and exploring about the latest technologies. Passionate
        about something new, fixing things that are lacking, creating better
        solutions`
        }
        <div class="flex flex-wrap gap-y-6 gap-x-2 sm:gap-2">
          <div class="flex space-x-2 items-center">
            {
              socialList?.map((soc) => (
                <a
                  href={soc.url}
                  class="p-2 inline-block border hover:bg-gray-300 dark:hover:bg-gray-800 duration-400 transition-colors border-gray-500 dark:border-gray-600 rounded-lg"
                >
                  <Icon
                    name={soc.platform.toLowerCase()}
                    class="dark:text-gray-600 text-gray-500 size-4"
                  />
                </a>
              ))
            }
          </div>
          <div class="flex space-x-2 items-center">
            <hr class="w-6 border-t border-gray-500 dark:border-gray-700" />
            <p class="text-gray-500 dark:text-gray-600 text-sm">
              {person?.location}
            </p>
          </div>
        </div>
      </p>
    </section>
    <section class="">
      <h3
        class="mb-4 text-lg font-medium dark:text-gray-500 lg:text-md xl:mb-3"
      >
        Experiences
      </h3>
      <div class="grid gap-y-4">
        {expList?.map((exp) => <ExpCard experience={exp} />)}
      </div>
    </section>
    <section class="">
      <h3
        class="mb-4 text-lg font-medium dark:text-gray-500 lg:text-md xl:mb-3"
      >
        Projects
      </h3>
      <div class="grid gap-y-4">
        {projList?.map((proj) => <ProjectCard project={proj} />)}
      </div>
    </section>
    <section class="">
      <h3
        class="mb-4 text-lg font-medium dark:text-gray-500 lg:text-md xl:mb-3"
      >
        Educations
      </h3>
      <div class="grid gap-y-6">
        {eduList?.map((edu) => <EduCard education={edu} />)}
      </div>
    </section>
    <section class="">
      <h3
        class="mb-4 text-lg font-medium dark:text-gray-500 lg:text-md xl:mb-3"
      >
        Coffees
      </h3>
      <p class="my-2 font-normal text-gray-600 dark:text-gray-400">
        I get really sick of it when the world is all about coding and data.
        That's why I spend some of my time exploring other things, especially
        coffee.
      </p>
      <a
        href=""
        class="mt-4 underline decoration-dotted text-gray-800 hover:text-blue-900 duration-150 transition-colors dark:text-gray-300"
      >
        See details <SquareArrowOutUpRight class="size-4 inline-block" />
      </a>
    </section>
  </main>
  <Footer />
</Layout>
